* {
    margin: 0;
    padding: 0;
    .sky{
        background-color: skyblue;
        width: 100%;
        height: 585px;
    }

    .button {
        background:lightseagreen;
        width: 100px;
        height: 50px;
        border: 1px solid black;
        border-radius: 20px;
        font-size: 30px;
        cursor: pointer;
        position: relative;
        bottom: 500px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        &.start:after {
            content: "Start!";
        }
        &.default:after {
            content: "Default";
        }
    }

    #turtle {
        width: 150px;
        height: 100px;
        background: url(img/turtle.png) no-repeat;
        background-size: 100px;
        position: absolute;
        top: 500px;
        left: 0;
        transition: left 1s;
        &.animate {
            position: absolute;
            left: calc(100% - 160px);
        }
        &.flip {
            transform: scaleX(-1);
            filter: FlipH;
        }
    }

    .finish {
        background-color: red;
        background: url(img/flag.gif) no-repeat;
        background-size: 200px;
        width: 200px;
        height: 300px;
        position: absolute;
        top: 400px;
        right: 10px;
    }

    .land {
        background-color: green;
        width: 100%;
        height: 60vh;
        position: absolute;
        top: 585px;
        z-index: -1;
    }
}